VITE_SUPABASE_URL=https://ckhkmempzhluwtufltdl.supabase.co
VITE_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNraGttZW1wemhsdXd0dWZsdGRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3NjUwMTAsImV4cCI6MjA3MzM0MTAxMH0.PgFpaKczMbxLbdIMXVYYYxVHFWGAL-kc4uN9sMLBrxY